.card{
margin: 15px;
padding: 10px;
border: 1px dotted gray;

img, h2,h3,p{
    padding-bottom: 10px;
}

&__social-media{
    display: flex;
    flex-direction: row;
    & p {
        padding-right: 10px;
        & i {
            padding-right: 3px;
        }
    }
}
}