.cellphone {
  &__symbol {
    animation: slide 3s linear infinite;
    -webkit-animation: slide 3s linear infinite;
  }
  &__gear {
    transform-box: fill-box;
    transform-origin: 52% 52%;
    animation: spin 3s linear infinite;
    -webkit-animation: spin 3s linear infinite;
  }
}
